.todo-item {
    display: flex;
    align-items: center;
    background-color: #fff;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.checkbox {
    margin-right: 10px;
}

.edit-input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.todo-text {
    flex: 1;
    margin-right: 10px;
}

.edit-button {
    padding: 5px 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    outline: none;
    margin-right: 5px;
}

.edit-button:hover {
    background-color: #0056b3;
}

.delete-button {
    padding: 5px 10px;
    background-color: #dc3545;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    outline: none;
}

.delete-button:hover {
    background-color: #c82333;
}
